.filterBarContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.filterBar {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.clearButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #ccc;
  font-size: 0;
}

.xmarkIcon {
  height: 20px;
  width: 20px;
  color: #666;
}

.sortFieldSelect {
  padding: 5px;
  margin-right: 10px;
}

.toggleSortOrderButton {
  padding: 5px 10px;
  cursor: pointer;
}