.filterBarContainer {
  display: grid;
  grid-template-columns: 1fr auto auto; 
  align-items: center;
  gap: 8px;
  padding: 0 20px;
  margin: 10px 0;
}

$standard-height: 38px;

.filterBar, .sortFieldSelect, .toggleSortOrderButton, .clearButton {
  height: $standard-height;
  padding: 8px 12px;
  box-sizing: border-box;
}

.filterBar {
  grid-column: 1 / 2;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  outline: none;

  &:focus {
    border-color: #6200ea;
    box-shadow: 0 0 0 2px rgba(98, 0, 234, 0.3);
  }
}

.clearButton {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.23);
  cursor: pointer;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  box-sizing: border-box;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.08);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.12);
  }
}


.xmarkIcon {
  height: 20px;
  width: 20px;
  color: #666;

  &:hover {
    color: #333;
  }
}

.arrowIcon {
  height: 15px;
  width: 15px;
  color: #666;
}

.spanSortOrder {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 14px;
  color: #333;
}

.sortFieldSelect {
  grid-column: 2 / 3;
  padding: 8px 12px;
  width: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210%22%20height%3D%225%22%20viewBox%3D%220%200%2010%205%22%20fill%3D%22none%22%20xmlns%3D%22http://www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%200H10L5%205L0%200Z%22%20fill%3D%22%23999%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 5px center;
  cursor: pointer;

  &:focus {
    border-color: #6200ea;
    box-shadow: 0 0 0 2px rgba(98, 0, 234, 0.3);
    outline: none;
  }
}

.toggleSortOrderButton {
  grid-column: 3 / 4;
  padding: 8px 12px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s;

  &:hover {
    background-color: #f5f5f5;
  }

  &:focus {
    outline: none;
    border-color: #6200ea;
    box-shadow: 0 0 0 2px rgba(98, 0, 234, 0.3);
  }

  &:active {
    background-color: #e3e3e3;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
  }
}